body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  font-size: 1vh;
}

#top-img1 {
  width: 100%;
  height: 35vh;
  background-image: url("../Images/Buying-Tab1.png");
  background-position: center;
  background-size: cover;
}

#top-img2 {
  width: 100%;
  height: 35vh;
  background-image: url("../Images/Buying-Tab2.png");
  background-position: center;
  background-size: cover;
}

#top-img3 {
  width: 100%;
  height: 35vh;
  background-image: url("../Images/Buying-Tab3.png");
  background-position: center;
  background-size: cover;
}

#text {
  text-align: center;
  position: relative;
  padding: 0 25%;
}

h1 {
  font-size: 1em;
}

h2 {
  padding-top: 2%;
  text-align: center;
  font-weight: bold;
  position: relative;
}

#left-arrow,
#right-arrow {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

#left-arrow {
  left: 20px;
}

#right-arrow {
  right: 20px;
}

#left-arrow img,
#right-arrow img {
  display: block;
  margin: 0;
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d2b48c;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(255, 255, 255);
  padding-top: 0.7%;
  padding-bottom: 0.7%;
}

#bottom-nav-logo {
  margin-right: 10px;
  order: 1;
}

#bottom-nav-options {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  order: 2;
}

#bottom-nav-options li {
  padding: 0 25px;
  cursor: pointer;
  font-size: 1.5vw;
}

#bottom-nav-options li {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

#bottom-nav-options li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: orange;
  transition: width 0.5s ease;
}

#bottom-nav-options li:hover::before {
  width: 100%;
}

#bottom-nav-options li:hover {
  color: orange;
}

#bottom-nav-logo {
  display: flex;
  justify-content: flex-start;
  margin-top: vh;
  padding-right: 200px;
  /* margin-right: 10px;
  margin-left: 10px; Add this line */
}

#bottom-nav-logo img {
  width: 50px;
  height: 50px;
}

#new-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #d2b48c;
  color: white;
}

.nav-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-column a {
  transition: background-color 0.5s, color 0.5s; /* Adding background-color transition */
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: calc(33.33% - 10px);
  padding: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-column a:hover {
  background-color: orange; /* Change background color on hover */
  color: white;
  text-decoration: underline;
}

.nav-column .current-tab {
  background-color: red;
  color: white;
}
